{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row" id="pricing-total">

    <div class="col">
    <div class="card">
        <img class="card-img-top" src="{% static 'img/pricing-free.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="section-title">Plan darmowy</h4>
          <p class="card-text">
            <ul>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
            </ul>
          </p>
          <a href="#!" class="btn btn-primary">Wypróbuj</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img class="card-img-top" src="{% static 'img/pricing-basic.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Plan podstawowy</h4>
          <p class="card-text">
            <ul>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
            </ul>
          </p>
          <a href="#!" class="btn btn-primary">249zł/mc</a>
        </div>
      </div>
    </div>

      <div class="col">
      <div class="card">
        <img class="card-img-top" src="{% static 'img/pricing-pro.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Plan profesjonalny</h4>
          <p class="card-text">
            <ul>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
                <li>FICZER </li>
            </ul>
          </p>
          <a href="#!" class="btn btn-primary">499zł/mc</a>
        </div>
      </div>
      </div>
      </div>

      
{% endblock %}